In [7]:
import math as m
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

from pandas import ExcelWriter
from pandas import ExcelFile
from datetime import datetime

import matplotlib.style
import matplotlib as mpl

pathwork='~/DATATON/datos/datos_branch/'
path="~/DATATON/datos/MasterTable/"
import os
home=os.environ["HOME"]
#Cargar tablas maestras
name="T8master_p"
T8p   = pd.read_csv(path+name+'.csv')
T8p_0 = pd.read_csv(path+name+"_r0"+'.csv')
T8p_3 = pd.read_csv(path+name+"_r3"+'.csv')
T8p_4 = pd.read_csv(path+name+"_r4"+'.csv')
name="T8master_t"
T8t   = pd.read_csv(path+name+'.csv')
T8t_0 = pd.read_csv(path+name+"_r0"+'.csv')
T8t_3 = pd.read_csv(path+name+"_r3"+'.csv')
T8t_4 = pd.read_csv(path+name+"_r4"+'.csv')

proct=T8p["procesos_total"].sum()

In [19]:
mpl.rcParams['font.size'] = 14
plt.figure(figsize=(10, 10)) 
#plt.suptitle(,fontsize=20)
#plt.subplot(2,2,1)
x=T8p["qf_branch_id"]
y=T8p["procesos_total"]*100/proct
plt.xlim(np.min(x)-0.5, np.max(x) + 0.5)  # Colocamos los límites del eje x
plt.ylim(np.min(y)-0.5, np.max(y) + 0.5)  # Colocamos los límites del eje y
plt.stem(x[y > y.mean()],y[y > y.mean()], linefmt='k--', markerfmt='go', basefmt='b-',bottom=y.mean(),label="Sobre la media")  # Dibujamos los valores por encima de la media
plt.stem(x[y < y.mean()],y[y < y.mean()], linefmt='k--', markerfmt='ro', basefmt='b-',bottom=y.mean(),label="Bajo la media")# Dibujamos los valores por debajo de la media
plt.title(u'Porcentaje de procesos según el total vs Sucursales')  # Colocamos el título del gráfico
plt.xlabel('qf_branch')  # Colocamos la etiqueta en el eje x
plt.ylabel('Porcentaje de procesos [%]')  # Colocamos la etiqueta en el eje y
#plt.savefig('/home/shersnape/DATATON/Image/process.pdf')
#plt.show()
print(y.mean()*proct)
print(x[y.idxmax])
print(x[y.idxmin])

4276110.71429
158
135

In [15]:
def timefig(T,a,tit,path,m):
    mpl.rcParams['font.size'] = 20
    plt.figure(figsize=(15, 15)) 
    plt.suptitle(tit,fontsize=20)
    plt.subplot(2,2,1)
    x=T["qf_branch_id"]
    y=T["media_p_total"+m]/60.0
    plt.xlim(np.min(x)-5, np.max(x) + 5)  # Colocamos los límites del eje x
    plt.ylim(np.min(y)-5, np.max(y) + 5)  # Colocamos los límites del eje y
    plt.stem(x[y > y.mean()],y[y > y.mean()], linefmt='k--', markerfmt='go', basefmt='b-',bottom=y.mean(),label="Sobre la media")  # Dibujamos los valores por encima de la media
    plt.stem(x[y < y.mean()],y[y < y.mean()], linefmt='k--', markerfmt='ro', basefmt='b-',bottom=y.mean(),label="Bajo la media")# Dibujamos los valores por debajo de la media
    plt.title(u'Tiempo total de procesos vs Sucursales')  # Colocamos el título del gráfico
    plt.xlabel('qf_branch')  # Colocamos la etiqueta en el eje x
    plt.ylabel('Tiempo [h]')  # Colocamos la etiqueta en el eje y

    plt.subplot(2,2,2)
    x1=T[T["qf_branch_type"]=="Centro de Pagos"]["qf_branch_id"]
    y1=T[T["qf_branch_type"]=="Centro de Pagos"]["media_p_total"+m]/60.0
    plt.xlim(np.min(x)-5, np.max(x) + 5)  # Colocamos los límites del eje x
    plt.ylim(np.min(y)-5, np.max(y) + 5)  # Colocamos los límites del eje y
    if len(y1[y1 < y.mean()])==0:
        plt.stem(x1[y1 > y.mean()],y1[y1 > y.mean()], linefmt='k--', markerfmt='go', basefmt='b--',bottom=y.mean(),label="Sobre la media")  # Dibujamos los valores por encima de la media
    elif len(y1[y1 > y.mean()])==1:
        plt.stem(x1[y1 > y.mean()],y1[y1 > y.mean()], linefmt='k--', markerfmt='go', basefmt='b--',bottom=y.mean(),label="Sobre la media")  # Dibujamos los valores por encima de la media
        plt.stem(x1[y1 < y.mean()],y1[y1 < y.mean()], linefmt='k--', markerfmt='ro', basefmt='b--',bottom=y.mean(),label="Bajo la media")# Dibujamos los valores por debajo de la media
    else:
        plt.stem(x1[y1 < y.mean()],y1[y1 < y.mean()], linefmt='k--', markerfmt='ro', basefmt='b--',bottom=y.mean(),label="Bajo la media")# Dibujamos los valores por debajo de la media
        
    plt.plot(np.linspace(np.min(x)-5,np.max(x) + 5,100),y.mean()*np.ones(100),linewidth=2,color="blue")
    plt.title(u'Tiempo total de procesos vs Sucursales Centros de Pago')  # Colocamos el título del gráfico
    plt.xlabel('qf_branch')  # Colocamos la etiqueta en el eje x
    plt.ylabel('Tiempo [min]')  # Colocamos la etiqueta en el eje y

    plt.subplot(2,2,3)
    x1=T[T["qf_branch_type"]=="Nova"]["qf_branch_id"]
    y1=T[T["qf_branch_type"]=="Nova"]["media_p_total"+m]/60.0
    plt.xlim(np.min(x)-5, np.max(x) + 5)  # Colocamos los límites del eje x
    plt.ylim(np.min(y)-5, np.max(y) + 5)  # Colocamos los límites del eje y
    plt.stem(x1[y1 > y.mean()],y1[y1 > y.mean()], linefmt='k--', markerfmt='go', basefmt='b-',bottom=y.mean(),label="Sobre la media")  # Dibujamos los valores por encima de la media
    plt.stem(x1[y1 < y.mean()],y1[y1 < y.mean()], linefmt='k--', markerfmt='ro', basefmt='b-',bottom=y.mean(),label="Bajo la media")# Dibujamos los valores por debajo de la media
    plt.title(u'Tiempo total de procesos vs Sucursales Nova')  # Colocamos el título del gráfico
    plt.xlabel('qf_branch')  # Colocamos la etiqueta en el eje x
    plt.ylabel('Tiempo [min]')  # Colocamos la etiqueta en el eje y

    plt.subplot(2,2,4)
    x1=T[T["qf_branch_type"]=="Tradicional"]["qf_branch_id"]
    y1=T[T["qf_branch_type"]=="Tradicional"]["media_p_total"+m]/60.0
    plt.xlim(np.min(x)-5, np.max(x) + 5)  # Colocamos los límites del eje x
    plt.ylim(np.min(y)-5, np.max(y) + 5)  # Colocamos los límites del eje y
    plt.stem(x1[y1 > y.mean()],y1[y1 > y.mean()], linefmt='k--', markerfmt='go', basefmt='b-',bottom=y.mean(),label="Sobre la media")  # Dibujamos los valores por encima de la media
    plt.stem(x1[y1 < y.mean()],y1[y1 < y.mean()], linefmt='k--', markerfmt='ro', basefmt='b-',bottom=y.mean(),label="Bajo la media")# Dibujamos los valores por debajo de la media
    plt.title(u'Tiempo total de procesos vs Sucursales Tradicionales')  # Colocamos el título del gráfico
    plt.xlabel('qf_branch')  # Colocamos la etiqueta en el eje x
    plt.ylabel('Tiempo [min]')  # Colocamos la etiqueta en el eje y
    plt.savefig(path+'F'+a+m+'.pdf')
    #plt.show()

In [ ]:

pathimage=home+"/DATATON/Image/"

timefig(T8t,"1","Todos los procesos",pathimage,"")
timefig(T8t_0,"2","Procesos completados",pathimage,"")
timefig(T8t_3,"3","Procesos abandonados",pathimage,"")
timefig(T8t_4,"4","Procesos abortados",pathimage,"")
timefig(T8t,"1","Todos los procesos (Agosto)",pathimage,"_m8")
timefig(T8t_0,"2","Procesos completados (Agosto)",pathimage,"_m8")
timefig(T8t_3,"3","Procesos abandonados (Agosto)",pathimage,"_m8")
timefig(T8t_4,"4","Procesos abortados (Agosto)",pathimage,"_m8")
timefig(T8t,"1","Todos los procesos (Septiembre)",pathimage,"_m9")
timefig(T8t_0,"2","Procesos completados (Septiembre)",pathimage,"_m9")
timefig(T8t_3,"3","Procesos abandonados (Septiembre)",pathimage,"_m9")
timefig(T8t_4,"4","Procesos abortados (Septiembre)",pathimage,"_m9")
timefig(T8t,"1","Todos los procesos (Octubre)",pathimage,"_m10")
timefig(T8t_0,"2","Procesos completados (Octubre)",pathimage,"_m10")
timefig(T8t_3,"3","Procesos abandonados (Octubre)",pathimage,"_m10")
timefig(T8t_4,"4","Procesos abortados (Obtubre)",pathimage,"_m10")

In [40]:
def acum(T,m):
    n=T.shape[0]
    tot=T["procesos_total"+m].sum()
    p_1=0.0
    p_2=0.0
    p_3=0.0
    p_4=0.0
    for i in range(0,n):
        p_1   +=T["c_internos_s_circular"+m][i]
        p_2   +=T["c_internos_s_lineal"+m][i]
        p_3   +=T["c_externos_s_circular"+m][i]
        p_4   +=T["c_externos_s_lineal"+m][i]
    p_1=p_1*10/tot
    p_2=p_2*10/tot
    p_3=p_3*10/tot
    p_4=p_4*10/tot
    return[p_1,p_2,p_3,p_4]

def piefig(T8p,T8p_0,T8p_3,T8p_4,m,M):    
    plt.figure(figsize=(12, 10))
    #plt.subplot(2,2,1)
    x_list = acum(T8p,m)
    label_list = ["Clientes Internos 1s", "Clientes Internos 2s", 
                  "Clientes Externos 1s","Clientes Externos 2s"]
    plt.axis("equal")
    plt.pie(
            x_list,
            labels=label_list,
            autopct="%.2f%%"
            )
    plt.title("Total de procesos "+M+" realizados por")
    plt.savefig(home+'/DATATON/Image/totclientes1'+m+'.pdf')
    plt.figure(figsize=(12, 10))
    #plt.subplot(2,2,2)
    x_list = acum(T8p_0,m)
    label_list = ["Clientes Internos 1s", "Clientes Internos 2s", 
                  "Clientes Externos 1s","Clientes Externos 2s"]
    plt.axis("equal")
    plt.pie(
            x_list,
            labels=label_list,
            autopct="%.2f%%"
            )
    plt.title("Procesos completos "+M+" realizados por")
    plt.savefig(home+'/DATATON/Image/totclientes2'+m+'.pdf')
    plt.figure(figsize=(12, 10))
    #plt.subplot(2,2,3)
    x_list = acum(T8p_3,m)
    label_list = ["Clientes Internos 1s", "Clientes Internos 2s", 
                  "Clientes Externos 1s","Clientes Externos 2s"]
    plt.axis("equal")
    plt.pie(
            x_list,
            labels=label_list,
            autopct="%.2f%%"
            )
    plt.title("Procesos abandonados "+M+" realizados por")
    plt.savefig(home+'/DATATON/Image/totclientes3'+m+'.pdf')
    #plt.subplot(2,2,4)
    plt.figure(figsize=(12, 10))
    x_list = acum(T8p_4,m)
    label_list = ["Clientes Internos 1s", "Clientes Internos 2s", 
                  "Clientes Externos 1s","Clientes Externos 2s"]
    plt.axis("equal")
    plt.pie(
            x_list,
            labels=label_list,
            autopct="%.2f%%"
            )
    plt.title("Procesos abortados "+M+" realizados por")
    plt.savefig(home+'/DATATON/Image/totclientes4'+m+'.pdf')
    
piefig(T8p,T8p_0,T8p_3,T8p_4,"","") 
#piefig(T8p,T8p_0,T8p_3,T8p_4,"_m8","(Agosto)")
#piefig(T8p,T8p_0,T8p_3,T8p_4,"_m9","(Septiembre)")
#piefig(T8p,T8p_0,T8p_3,T8p_4,"_m10","(Octubre)")
#plt.show()

/usr/lib64/python3.4/site-packages/matplotlib/pyplot.py:523: RuntimeWarning: More than 20 figures have been opened. Figures created through the pyplot interface (`matplotlib.pyplot.figure`) are retained until explicitly closed and may consume too much memory. (To control this warning, see the rcParam `figure.max_open_warning`).
  max_open_warning, RuntimeWarning)

In [41]:
mpl.rcParams['font.size'] = 15
plt.figure(figsize=(15, 15)) 
plt.suptitle("Procesos vs Tiempos medios",fontsize=20)

x=T8t.sort_values("qf_branch_id")["media_p_total"]/60.0
y=T8p.sort_values("qf_branch_id")["procesos_total"]*100/T8p["procesos_total"].sum()
T8tp = pd.DataFrame({'media':x,'procesos': y}, columns=['media', 'procesos'])

x=T8tp.sort_values("media")["media"]
y=T8tp.sort_values("media")["procesos"]
r1=np.corrcoef(x,y)[0,1]

plt.subplot(2,2,1)

plt.plot(x,y,linestyle="--",marker="o",label=u"Coeficiente de Correlación %.2f"%r1)
plt.title(u'Todos los procesos vs Tiempos medios')  # Colocamos el título del gráfico
plt.xlabel('Tiempo medio')  # Colocamos la etiqueta en el eje x
plt.ylabel('Total de procesos [%]')  # Colocamos la etiqueta en el eje y
plt.legend()

x=T8t_0.sort_values("qf_branch_id")["media_p_total"]/60.0
y=T8p_0.sort_values("qf_branch_id")["procesos_total"]*100/T8p["procesos_total"].sum()
T8tp = pd.DataFrame({'media':x,'procesos': y}, columns=['media', 'procesos'])

x=T8tp.sort_values("media")["media"]
y=T8tp.sort_values("media")["procesos"]
r1=np.corrcoef(x,y)[0,1]

plt.subplot(2,2,2)
plt.plot(x,y,linestyle="--",marker="o",label=u"Coeficiente de Correlación %.2f"%r1)
plt.title(u'Procesos completados vs Tiempos medios')  # Colocamos el título del gráfico
plt.xlabel('Tiempo medio')  # Colocamos la etiqueta en el eje x
plt.ylabel('Total de procesos [%]')  # Colocamos la etiqueta en el eje y
plt.legend()

x=T8t_3.sort_values("qf_branch_id")["media_p_total"]/60.0
y=T8p_3.sort_values("qf_branch_id")["procesos_total"]*100/T8p["procesos_total"].sum()
T8tp = pd.DataFrame({'media':x,'procesos': y}, columns=['media', 'procesos'])

x=T8tp.sort_values("media")["media"]
y=T8tp.sort_values("media")["procesos"]
r1=np.corrcoef(x,y)[0,1]

plt.subplot(2,2,3)
plt.plot(x,y,linestyle="--",marker="o",label=u"Coeficiente de Correlación %.2f"%r1)
plt.title(u'Procesos abandonados vs Tiempos medios')  # Colocamos el título del gráfico
plt.xlabel('Tiempo medio')  # Colocamos la etiqueta en el eje x
plt.ylabel('Total de procesos [%]')  # Colocamos la etiqueta en el eje y
plt.legend()

x=T8t_4.sort_values("qf_branch_id")["media_p_total"]/60.0
y=T8p_4.sort_values("qf_branch_id")["procesos_total"]*100/T8p["procesos_total"].sum()
T8tp = pd.DataFrame({'media':x,'procesos': y}, columns=['media', 'procesos'])

x=T8tp.sort_values("media")["media"]
y=T8tp.sort_values("media")["procesos"]
r1=np.corrcoef(x,y)[0,1]

plt.subplot(2,2,4)
plt.plot(x,y,linestyle="--",marker="o",label=u"Coeficiente de Correlación %.2f"%r1)
plt.title(u'Procesos abortados vs Tiempos medios')  # Colocamos el título del gráfico
plt.xlabel('Tiempo medio')  # Colocamos la etiqueta en el eje x
plt.ylabel('Total de procesos [%]')  # Colocamos la etiqueta en el eje y
plt.legend()
plt.savefig(home+'/DATATON/Image/proctime.pdf')

#plt.show()

/usr/lib64/python3.4/site-packages/matplotlib/pyplot.py:523: RuntimeWarning: More than 20 figures have been opened. Figures created through the pyplot interface (`matplotlib.pyplot.figure`) are retained until explicitly closed and may consume too much memory. (To control this warning, see the rcParam `figure.max_open_warning`).
  max_open_warning, RuntimeWarning)

In [50]:
def point(x,y,e,ptext,c):
        plt.annotate("Suc "+str(e), color=c,fontweight='bold',
                     xy = (e, y[x.loc[x==e].index[0]]), 
                     xycoords = 'data', 
                     xytext = (e+ptext[0], 
                     y[x.loc[x==e].index[0]]+ptext[1]), 
                     textcoords = 'data', 
                     bbox=dict(boxstyle="round", fc="none"),
                     arrowprops = dict(arrowstyle = "->",))
def stemplot_up(x,y,lb):
    plt.stem(x[y > y.mean()],y[y > y.mean()], 
             linefmt='k--', markerfmt='go', 
             basefmt='b-',bottom=y.mean(),label=lb)  # Dibujamos los valores por encima de la media
def stemplot_down(x,y,lb):
    plt.stem(x[y < y.mean()],y[y < y.mean()], 
             linefmt='k--', markerfmt='ro', 
             basefmt='b-',bottom=y.mean(),label=lb)# Dibujamos los valores por debajo de la media

cl=("darkgreen","crimson","lightgreen","coral")
mpl.rcParams['font.size'] = 14
plt.figure(figsize=(15, 20)) 
#plt.suptitle("Procesos vs Tiempos medios",fontsize=20)
horast=(31*2+30)*24
x=T8p.sort_values("qf_branch_id")["qf_branch_id"]
e1=x[(T8p.sort_values("qf_branch_id")["procesos_completos"]/(T8t.sort_values("qf_branch_id")["tiempo_p_total"]/3600)).idxmax]
e2=x[(T8p.sort_values("qf_branch_id")["procesos_completos"]/(T8t.sort_values("qf_branch_id")["tiempo_p_total"]/3600)).idxmin]
e3=x[(T8p.sort_values("qf_branch_id")["procesos_completos"]/horast).idxmax]
e4=x[(T8p.sort_values("qf_branch_id")["procesos_completos"]/horast).idxmin]

plt.subplot(3,2,4)
y=T8p.sort_values("qf_branch_id")["procesos_completos"]/(T8t.sort_values("qf_branch_id")["tiempo_p_total"]/3600)
x=T8p.sort_values("qf_branch_id")["qf_branch_id"]
#plt.plot(x,y,linestyle="--",marker="o")
plt.xlim(np.min(x)-5, np.max(x) + 5)  # Colocamos los límites del eje x
plt.ylim(np.min(y)-0.5, np.max(y) + 0.5)  # Colocamos los límites del eje y
stemplot_up(x,y,"")
stemplot_down(x,y,"")
point(x,y,e1,[0,0.3],cl[0])
point(x,y,e2,[100,-0.3],cl[1])
point(x,y,e3,[0,-1],cl[2])
point(x,y,e4,[-100,1.2],cl[3])
plt.title(u'Efectividad por hora invertida vs Sucursal')  # Colocamos el título del gráfico
plt.xlabel('Id Sucursal')  # Colocamos la etiqueta en el eje x
plt.ylabel('Efectividad[#procesos exitosos/horas_invertidas]')  # Colocamos la etiqueta en el eje y

plt.subplot(3,2,6)
y=T8p.sort_values("qf_branch_id")["procesos_completos"]/horast
x=T8p.sort_values("qf_branch_id")["qf_branch_id"]
#plt.plot(x,y,linestyle="--",marker="o")
plt.xlim(np.min(x)-5, np.max(x) + 5)  # Colocamos los límites del eje x
plt.ylim(np.min(y)-0.5, np.max(y) + 0.5)  # Colocamos los límites del eje y
stemplot_up(x,y,"")
stemplot_down(x,y,"")
point(x,y,e1,[100,10],cl[0])
point(x,y,e2,[-100,0],cl[1])
point(x,y,e3,[50,-5],cl[2])
point(x,y,e4,[-100,1],cl[3])
plt.title(u'Efectividad por hora vs Sucursal')  # Colocamos el título del gráfico
plt.xlabel('Id Sucursal')  # Colocamos la etiqueta en el eje x
plt.ylabel('Efectividad[#procesos exitosos/h]')  # Colocamos la etiqueta en el eje y

plt.subplot(3,2,1)
y=T8p.sort_values("qf_branch_id")["procesos_abandonados"]/T8p.sort_values("qf_branch_id")["procesos_completos"]
x=T8p.sort_values("qf_branch_id")["qf_branch_id"]
#plt.plot(x,y,linestyle="--",marker="o")
plt.xlim(np.min(x)-5, np.max(x) + 5)  # Colocamos los límites del eje x
plt.ylim(np.min(y)-0.04, np.max(y) + 0.04)  # Colocamos los límites del eje y
stemplot_up(x,y,"")
stemplot_down(x,y,"")
point(x,y,e1,[-150,-0.03],cl[0])
point(x,y,e2,[-100,0.01],cl[1])
point(x,y,e3,[50,-0.08],cl[2])
point(x,y,e4,[-100,-0.053],cl[3])
plt.title(u'Razón entre procesos abandonados y completados vs Sucursal')  # Colocamos el título del gráfico
plt.ylabel('Razón procesos abandonados/completados')  # Colocamos la etiqueta en el eje x
plt.xlabel('Id Sucursal')  # Colocamos la etiqueta en el eje y

plt.subplot(3,2,2)
y=T8p.sort_values("qf_branch_id")["procesos_completos"]*100/T8p.sort_values("qf_branch_id")["procesos_total"]
x=T8p.sort_values("qf_branch_id")["qf_branch_id"]
#plt.plot(x,y,linestyle="--",marker="o")
plt.xlim(np.min(x)-4, np.max(x) + 4)  # Colocamos los límites del eje x
plt.ylim(np.min(y)-4, np.max(y) + 4)  # Colocamos los límites del eje y
stemplot_up(x,y,"")
stemplot_down(x,y,"")
point(x,y,e1,[100,3],cl[0])
point(x,y,e2,[-100,-3],cl[1])
point(x,y,e3,[-100,8],cl[2])
point(x,y,e4,[-100,5],cl[3])
plt.title(u'Eficacia vs Sucursal')  # Colocamos el título del gráfico
plt.xlabel('Id Sucursal')  # Colocamos la etiqueta en el eje x
plt.ylabel('Eficacia[%]')  # Colocamos la etiqueta en el eje y

plt.subplot(3,2,3)
y=T8p.sort_values("qf_branch_id")["procesos_total"]/(T8t.sort_values("qf_branch_id")["tiempo_p_total"]/3600)
x=T8p.sort_values("qf_branch_id")["qf_branch_id"]
#plt.plot(x,y,linestyle="--",marker="o")
plt.xlim(np.min(x)-5, np.max(x) + 5)  # Colocamos los límites del eje x
plt.ylim(np.min(y)-0.5, np.max(y) + 0.5)  # Colocamos los límites del eje y
stemplot_up(x,y,"")
stemplot_down(x,y,"")
point(x,y,e1,[50,0.4],cl[0])
point(x,y,e2,[-100,-0.4],cl[1])
point(x,y,e3,[-100,1],cl[2])
point(x,y,e4,[-100,1.2],cl[3])
plt.title(u'Eficiencia vs Sucursal')  # Colocamos el título del gráfico
plt.xlabel('Id Sucursal')  # Colocamos la etiqueta en el eje x
plt.ylabel('Eficiencia[#procesos/horas_invertidas]')  # Colocamos la etiqueta en el eje y

plt.subplot(3,2,5)
y=T8p.sort_values("qf_branch_id")["procesos_total"]/horast
x=T8p.sort_values("qf_branch_id")["qf_branch_id"]
#plt.plot(x,y,linestyle="--",marker="o")
plt.xlim(np.min(x)-5, np.max(x) + 5)  # Colocamos los límites del eje x
plt.ylim(np.min(y)-0.5, np.max(y) + 0.5)  # Colocamos los límites del eje y
stemplot_up(x,y,"")
stemplot_down(x,y,"")
point(x,y,e1,[-150,-5],cl[0])
point(x,y,e2,[-100,-5],cl[1])
point(x,y,e3,[70,0],cl[2])
point(x,y,e4,[-100,1],cl[3])
plt.title(u'Eficiencia vs Sucursal')  # Colocamos el título del gráfico
plt.xlabel('Id Sucursal')  # Colocamos la etiqueta en el eje x
plt.ylabel('Eficiencia[#procesos/h]')  # Colocamos la etiqueta en el eje y
plt.savefig(home+'/DATATON/Image/efecty.pdf')
plt.clf()
plt.cla()
plt.close("all") 
#plt.show()

In [ ]:
#print(T8p.sort_values("qf_branch_id")["procesos_completos"])
#print(T8t.sort_values("qf_branch_id")["tiempo_p_t'otal"]/(3600*24))
#T8   = pd.read_csv('/home/shersnape/DATATON/datos/T8sta.csv')
#print(T8t["tiempo_p_total"]/(T8p["procesos_total"]*T8t["media_p_total"]))
#print(T8["tiempot"]/(T8["procesos"]*T8["media"]))
#54737274049/(36074*1517.3608152408938)

In [ ]:
from matplotlib_venn import venn3, venn3_circles
plt.figure(figsize=(4,4))
v = venn3(subsets=(1, 1, 1, 1, 1, 1, 1), set_labels = ('A', 'B', 'C'))
v.get_patch_by_id('100').set_alpha(1.0)
v.get_patch_by_id('100').set_color('white')
v.get_label_by_id('100').set_text('Unknown')
v.get_label_by_id('A').set_text('Set "A"')
c = venn3_circles(subsets=(1, 1, 1, 1, 1, 1, 1), linestyle='dashed')
c[0].set_lw(1.0)
c[0].set_ls('dotted')
plt.title("Sample Venn diagram")
plt.annotate('Unknown set', xy=v.get_label_by_id('100').get_position() - np.array([0, 0.05]), xytext=(-70,-70),
             ha='center', textcoords='offset points', bbox=dict(boxstyle='round,pad=0.5', fc='gray', alpha=0.1),
             arrowprops=dict(arrowstyle='->', connectionstyle='arc3,rad=0.5',color='gray'))
plt.show()

In [ ]:
#plt.bar(x, y, width = 5)  # Dibujamos el gráfico de barras
#plt.bar(x, -y2, width = 5)  # Dibujamos el gráfico de barras

In [ ]:
T7=pd.read_csv('~/DATATON/datos/dt_service.csv',encoding="latin1")
T7["service_id"].groupby(T7["qf_branch_id"]).count()
#T7[["qf_branch_id","serviceprofile_id"]].groupby(["qf_branch_id","serviceprofile_id"]).count()#["qf_branch_id"]
T7[T7["qf_branch_id"]==25].groupby(T7["serviceprofile_id"]).count()["qf_branch_id"]
#ptc=list(T1["process_id"].groupby(T1["initialservice_id"]).count())
#ptc=list(T1["process_id"].groupby(T1["initialservice_id"]).count())
#Ta=T1["process_id"].groupby(T1["initialservice_id"]).mean()
#T1[T1["initialservice_id"]==3415].shape[0]

In [ ]:
T7.groupby(["serviceprofile_id"]).mean().index

In [ ]:
Tserv=T7[["service_id","servicename"]]
Tb=T7["service_id"].groupby(T7["qf_branch_id"]).count()

Tservp=T7.groupby(['profilename','serviceprofile_id'], as_index=False).mean()[['profilename','serviceprofile_id']]
Tservt=T7.groupby(['servicetypename','servicetype_id'], as_index=False).mean()[['servicetypename','servicetype_id']]
Tserva=T7.groupby(['attributename','serviceattribute_id'], as_index=False).mean()[['attributename','serviceattribute_id']]

Tbranch=pd.DataFrame()
Tbranch["qf_branch_id"]=Tb.index
Tbranch["service_total"]=Tb.values

def fold(Tb,stp):
    temp1=pd.DataFrame({"branch":Tb.index})
    temp2=pd.DataFrame({"branch":stp.index,"count":stp.values})
    temp3=(pd.merge(temp1, temp2, on='branch', how='outer')["count"].fillna(0))
    return(temp3)

stp=list()
for i,j in enumerate(Tservp['profilename']):    
    stp.append(T7[T7["profilename"]==j].groupby(T7["qf_branch_id"]).count()["qf_branch_id"])
    if len(stp[i].index)!=len(Tb.index):
            stp[i]=fold(Tb,stp[i])
    Tbranch[j+"(p)"]=np.array(stp[i].values,dtype="int64")
    
for i,j in enumerate(Tservt['servicetypename']):    
    stp.append(T7[T7["servicetypename"]==j].groupby(T7["qf_branch_id"]).count()["qf_branch_id"])
    if len(stp[i].index)!=len(Tb.index):
            stp[i]=fold(Tb,stp[i])
    Tbranch[j+"(t)"]=np.array(stp[i].values,dtype="int64")
    
for i,j in enumerate(Tserva['attributename']):    
    stp.append(T7[T7["attributename"]==j].groupby(T7["qf_branch_id"]).count()["qf_branch_id"])
    if len(stp[i].index)!=len(Tb.index):
            stp[i]=fold(Tb,stp[i])
    Tbranch[j+"(a)"]=np.array(stp[i].values,dtype="int64")
    
#Tbranch["qf_branch_id"]=Tb.index
#Tservp["count"]=stp[0].values
#stc=list(T7['service_id'].groupby(T7['servicetype_id']).count())
#Tservt["count"]=stc
#stc=list(T7['service_id'].groupby(T7['serviceattribute_id']).count())
#Tserva["count"]=stc

In [369]:
T8=pd.read_csv('~/DATATON/datos/MasterTable/T8master_t.csv')
step=list()
officer=list()
branch=list()
for i in range(0,5):
    branch.append(str(T8["qf_branch_id"][i]))
    print(branch[i])
    #T1=pd.read_csv('~/DATATON/datos/datos_branch/T1_branch_'+branch+'.csv')
    T2=pd.read_csv('~/DATATON/datos/datos_branch/T2_branch_'+branch[i]+'.csv')
    T3=pd.read_csv('~/DATATON/datos/datos_branch/T3_branch_'+branch[i]+'.csv')
    step.append(T3["process_id"].groupby(T3["total_steps_cnt"]).count())
    if i==0:
        C=pd.DataFrame({"# pasos": step[i].index})
    B=pd.DataFrame({"# pasos": step[i].index,"branch_"+branch[i]:step[i].values})
    C=pd.merge(C, B, on='# pasos', how='outer').fillna(0)    
    officer.append(T2["process_id"].groupby(T2["officer_id"]).count())
    if i==0:
        A=pd.DataFrame({"officer": officer[i].index})
    D=pd.DataFrame({"officer": officer[i].index,"branch_"+branch[i]:officer[i].values})
    A=pd.merge(A, D, on='officer', how='outer').fillna(0)

615
106
165
489
500

In [371]:
A

     officer  branch_615  branch_106  branch_165  branch_489  branch_500
0        1.0       815.0       335.0      1512.0      1823.0      3470.0
1     5275.0       818.0         0.0         0.0         0.0         0.0
2     5570.0       244.0         0.0         0.0         0.0         0.0
3     5573.0       702.0         0.0         0.0         0.0         0.0
4     5574.0      1236.0         0.0         0.0         0.0         0.0
5     5575.0      3067.0         0.0         0.0         0.0         0.0
6     5579.0      2631.0         0.0         0.0         0.0         0.0
7     5580.0       367.0         0.0         0.0         0.0         0.0
8     5584.0       829.0         0.0         0.0         0.0         0.0
9     5585.0      2502.0         0.0         0.0         0.0         0.0
10    5586.0       219.0         0.0         0.0         0.0         0.0
11    5588.0       111.0         0.0         0.0         0.0         0.0
12    5589.0        64.0         0.0         0.0         0.0         0.0
13    5591.0      3403.0         0.0         0.0         0.0         0.0
14    5619.0      1100.0         0.0         0.0         0.0         0.0
15    6486.0       358.0         0.0         0.0         0.0         0.0
16    6690.0      1010.0         0.0         0.0         0.0         0.0
17    8895.0      8572.0         0.0         0.0         0.0         0.0
18    8897.0     12023.0         0.0         0.0         0.0         0.0
19    8899.0     14984.0         0.0         0.0         0.0         0.0
20    8900.0     11840.0         0.0         0.0         0.0         0.0
21    8901.0      5686.0         0.0         0.0         0.0         0.0
22    8904.0     10111.0         0.0         0.0         0.0         0.0
23    8905.0      5120.0         0.0         0.0         0.0         0.0
24    8922.0      6279.0         0.0         0.0         0.0         0.0
25    8998.0       796.0         0.0         0.0         0.0         0.0
26    9056.0       173.0         0.0         0.0         0.0         0.0
27    9507.0       727.0         0.0         0.0         0.0         0.0
28   10170.0       338.0         0.0         0.0         0.0         0.0
29     865.0         0.0       847.0         0.0         0.0         0.0
..       ...         ...         ...         ...         ...         ...
145   7185.0         0.0         0.0         0.0      9382.0         0.0
146   7186.0         0.0         0.0         0.0      6739.0         0.0
147   7189.0         0.0         0.0         0.0       662.0         0.0
148   7190.0         0.0         0.0         0.0      1960.0         0.0
149   7191.0         0.0         0.0         0.0      9832.0         0.0
150   7192.0         0.0         0.0         0.0      4752.0         0.0
151   7262.0         0.0         0.0         0.0      8089.0         0.0
152   7525.0         0.0         0.0         0.0      6271.0         0.0
153   7810.0         0.0         0.0         0.0      5608.0         0.0
154   7811.0         0.0         0.0         0.0       571.0         0.0
155   9677.0         0.0         0.0         0.0      2716.0         0.0
156   9775.0         0.0         0.0         0.0      3590.0         0.0
157  10128.0         0.0         0.0         0.0      6353.0         0.0
158  10270.0         0.0         0.0         0.0      4747.0         0.0
159  10349.0         0.0         0.0         0.0       364.0         0.0
160   6947.0         0.0         0.0         0.0         0.0       626.0
161   6999.0         0.0         0.0         0.0         0.0      6405.0
162   7003.0         0.0         0.0         0.0         0.0       439.0
163   7012.0         0.0         0.0         0.0         0.0      1734.0
164   7039.0         0.0         0.0         0.0         0.0      5542.0
165   7040.0         0.0         0.0         0.0         0.0      5204.0
166   7042.0         0.0         0.0         0.0         0.0       489.0
167   7043.0         0.0         0.0         0.0         0.0      8343.0
168   7045.0         0.0         0.0         0.0         0.0      7240.0
169   7046.0         0.0         0.0         0.0         0.0     12443.0
170   7047.0         0.0         0.0         0.0         0.0      4852.0
171   7050.0         0.0         0.0         0.0         0.0     13371.0
172   7052.0         0.0         0.0         0.0         0.0     20041.0
173   7466.0         0.0         0.0         0.0         0.0     16961.0
174   7714.0         0.0         0.0         0.0         0.0      3521.0

[175 rows x 6 columns]

In [325]:

T8=pd.read_csv('~/DATATON/datos/MasterTable/T8master_t.csv')
for i in range(0,3):
    branch=str(T8["qf_branch_id"][i])
    T1=pd.read_csv('~/DATATON/datos/datos_branch/T1_branch_'+branch+'.csv')
    #T2=pd.read_csv('~/DATATON/datos/datos_branch/T2_branch_'+branch+'.csv')
    #T3=pd.read_csv('~/DATATON/datos/datos_branch/T3_branch_'+branch+'.csv')
    time_up       = T1["arrival_dt"].values
    time_up_split = np.array([tt.split(" ") for tt in time_up])
    time          = np.array([tt.split(":") for tt in time_up_split[:,1]],dtype="float64")
    date          = np.array([tt.split("-") for tt in time_up_split[:,0]])
    T1.insert(loc=1, column='arrival_hour', value=time[:,0])
    time_up       = T1["last_update_dt"].values
    time_up_split = np.array([tt.split(" ") for tt in time_up])
    time          = np.array([tt.split(":") for tt in time_up_split[:,1]],dtype="float64")
    date          = np.array([tt.split("-") for tt in time_up_split[:,0]])
    T1.insert(loc=1, column='last_hour', value=time[:,0])

    M=T1["process_id"].groupby(T1["arrival_hour"]).count()
    N=T1["process_id"].groupby(T1["last_hour"]).count()

    M1=T1.groupby(["arrival_hour","resolution","arrival_month"]).count()["process_id"].to_frame('count')
    N1=T1.groupby(["last_hour","resolution"]).count()["process_id"].to_frame('count')
    M1.reset_index(inplace=True)
    N1.reset_index(inplace=True)

    M_0_8=M1[(M1["resolution"]==0) & (M1["arrival_month"]==8)]
    M_0_9=M1[(M1["resolution"]==0) & (M1["arrival_month"]==9)]
    M_0_10=M1[(M1["resolution"]==0) & (M1["arrival_month"]==10)]
    M_3_8=M1[(M1["resolution"]==3) & (M1["arrival_month"]==8)]
    M_3_9=M1[(M1["resolution"]==3) & (M1["arrival_month"]==9)]
    M_3_10=M1[(M1["resolution"]==3) & (M1["arrival_month"]==10)]
    M_4_8=M1[(M1["resolution"]==4) & (M1["arrival_month"]==8)]
    M_4_9=M1[(M1["resolution"]==4) & (M1["arrival_month"]==9)]
    M_4_10=M1[(M1["resolution"]==4) & (M1["arrival_month"]==10)]

    Mtemp=pd.merge(M_0_8,M_3_8,on='arrival_hour',how="outer",suffixes=('_r0_m8', '_r3_m8')).fillna(0)
    Mtemp.drop(['resolution_r0_m8','resolution_r3_m8','arrival_month_r0_m8','arrival_month_r3_m8'], axis=1, inplace=True)
    Mtemp=pd.merge(Mtemp,M_4_8,on='arrival_hour',how="outer").fillna(0)
    Mtemp.drop(["resolution","arrival_month","arrival_hour"],axis=1, inplace=True)
    Mtemp.rename(columns={"count": 'count_r4_m8'}, inplace=True)

    Mtemp2=pd.merge(M_0_9,M_3_9,on='arrival_hour',how="outer",suffixes=('_r0_m9', '_r3_m9')).fillna(0)
    Mtemp2.drop(['resolution_r0_m9','resolution_r3_m9','arrival_month_r0_m9','arrival_month_r3_m9'], axis=1, inplace=True)
    Mtemp2=pd.merge(Mtemp2,M_4_9,on='arrival_hour',how="outer").fillna(0)
    Mtemp2.drop(["resolution","arrival_month","arrival_hour"],axis=1, inplace=True)
    Mtemp2.rename(columns={"count": 'count_r4_m9'}, inplace=True)

    Mtemp3=pd.merge(M_0_10,M_3_10,on='arrival_hour',how="outer",suffixes=('_r0_m10', '_r3_m10')).fillna(0)
    Mtemp3.drop(['resolution_r0_m10','resolution_r3_m10','arrival_month_r0_m10','arrival_month_r3_m10'], axis=1, inplace=True)
    Mtemp3=pd.merge(Mtemp3,M_4_10,on='arrival_hour',how="outer").fillna(0)
    Mtemp3.drop(["resolution","arrival_month","arrival_hour"],axis=1, inplace=True)
    Mtemp3.rename(columns={"count": 'count_r4_m10'}, inplace=True)

    Mtemp['count_all_m8'] = Mtemp.sum(axis=1)
    Mtemp2['count_all_m9'] = Mtemp2.sum(axis=1)
    Mtemp3['count_all_m10'] = Mtemp3.sum(axis=1)
    result=pd.DataFrame()
    result["arrival_hour"]=M.index
    result = pd.concat([result,Mtemp, Mtemp2,Mtemp3], axis=1).astype(int)
    hour.append(result)
    if i==0:
        C=pd.DataFrame({"arrival_hour": result["arrival_hour"]})
    B=result.copy()#pd.DataFrame({"arrival_hour": s,"branch_"+branch[i]:step[i].values})
    C=pd.merge(C, B, on='arrival_hour', how='outer').fillna(0)    

#M9.astype(int)
#T1["process_id"].groupby(T1["arrival_hour"]).mean()
#M=np.trunc(T1.groupby(["arrival_hour","resolution"]).count()["process_id"])
#T3=T3[T3["resolution"]==0]
#time_arrival=np.array(np.array(T3["arrival_dt"]),dtype='datetime64')
#time_last=np.array(np.array(T3["last_update_dt"]),dtype='datetime64')
#time_total=(1e-6)*np.array(time_last-time_arrival,dtype='float64')
#print(time_total.sum())
#print(T3["total_duration"].sum())
#print(("%f")%T8[T8["qf_branch_id"]==int(branch)]["tiempo_p_total"])

In [326]:
O

total_steps_cnt
2       430
3     29306
4      7490
5      3885
6       745
7       147
8        29
9         7
10        1
Name: process_id, dtype: int64

In [313]:
T2[T2["officer_id"]==1]

,process_id,action,proc_status,start_dt,duration,service_id,qf_branch_id,officer_id,classification_ids
648,81305051,23,1,2017-08-01 10:48:04.030000,193.0,8727,25,1.0,NaN
650,81305051,6,3,2017-08-01 10:51:17.243000,903.0,8727,25,1.0,NaN
943,81338409,6,3,2017-08-01 11:55:34.797000,1800.0,8727,25,1.0,NaN
947,81338409,23,1,2017-08-01 11:52:36.870000,178.0,8727,25,1.0,NaN
1991,81461432,6,3,2017-08-01 16:14:37.990000,1871.0,8727,25,1.0,NaN
1992,81461432,23,1,2017-08-01 16:14:20.130000,17.0,8727,25,1.0,NaN
2601,81494061,23,1,2017-08-01 18:25:45.307000,61.0,8727,25,1.0,NaN
2603,81494061,6,22,2017-08-01 18:26:46.543000,0.0,8727,25,1.0,NaN
2604,81494061,18,23,2017-08-01 18:26:46.543000,1096.0,8727,25,1.0,NaN
3206,81571261,23,1,2017-08-02 10:20:53.700000,9.0,8727,25,1.0,NaN
3207,81571261,6,3,2017-08-02 10:21:02.223000,329.0,8727,25,1.0,NaN
3394,81591734,23,1,2017-08-02 10:56:25.460000,921.0,8727,25,1.0,NaN
3396,81591734,18,23,2017-08-02 11:11:46.130000,1101.0,8727,25,1.0,NaN
3397,81591734,6,22,2017-08-02 11:11:46.130000,0.0,8727,25,1.0,NaN
3449,81596279,23,1,2017-08-02 11:04:47.093000,1633.0,8727,25,1.0,NaN
3453,81596279,6,3,2017-08-02 11:32:00.363000,1444.0,8727,25,1.0,NaN
3914,81656431,23,1,2017-08-02 13:47:12.467000,265.0,8727,25,1.0,NaN
3916,81656431,18,23,2017-08-02 13:54:02.003000,1262.0,8727,25,1.0,NaN
3917,81656431,6,22,2017-08-02 13:51:37.800000,145.0,8727,25,1.0,NaN
4246,81705821,23,1,2017-08-02 15:11:52.423000,449.0,8728,25,1.0,NaN
5729,81829384,6,3,2017-08-03 10:20:44.957000,444.0,8727,25,1.0,NaN
5731,81829384,23,1,2017-08-03 10:01:23.557000,1161.0,8727,25,1.0,NaN
5785,81835239,23,1,2017-08-03 10:12:31.843000,24.0,8727,25,1.0,NaN
5787,81835239,6,3,2017-08-03 10:12:55.393000,1096.0,8727,25,1.0,NaN
5875,81844932,23,1,2017-08-03 10:30:46.080000,18.0,8727,25,1.0,NaN
5876,81844932,6,3,2017-08-03 10:31:04.817000,29.0,8727,25,1.0,NaN
5925,81851068,18,23,2017-08-03 10:42:40.253000,1048.0,8728,25,1.0,NaN
5927,81851068,23,1,2017-08-03 10:42:16.753000,24.0,8728,25,1.0,NaN
5929,81851068,6,22,2017-08-03 10:42:40.253000,0.0,8728,25,1.0,NaN
6200,81876559,6,3,2017-08-03 11:38:40.503000,1008.0,8727,25,1.0,NaN
...,...,...,...,...,...,...,...,...,...
153777,97125645,23,1,2017-10-30 16:09:18.287000,18.0,8727,25,1.0,NaN
154447,97158672,23,1,2017-10-30 18:25:40.060000,34.0,8727,25,1.0,NaN
154448,97158672,6,22,2017-10-30 18:26:14.290000,0.0,8727,25,1.0,NaN
154450,97158672,18,23,2017-10-30 18:26:14.290000,1129.0,8727,25,1.0,NaN
154752,97183402,18,23,2017-10-31 09:02:23.570000,761.0,8727,25,1.0,NaN
154753,97183402,23,1,2017-10-31 09:01:30.650000,53.0,8727,25,1.0,NaN
154756,97183402,6,22,2017-10-31 09:02:23.570000,0.0,8727,25,1.0,NaN
154758,97183929,18,23,2017-10-31 09:03:17.437000,707.0,8727,25,1.0,NaN
154760,97183929,23,1,2017-10-31 09:02:24.263000,53.0,8727,25,1.0,NaN
154761,97183929,6,22,2017-10-31 09:03:17.437000,0.0,8727,25,1.0,NaN
155458,97260675,23,1,2017-10-31 11:37:12.240000,219.0,8727,25,1.0,NaN
155460,97260675,6,3,2017-10-31 11:40:51.770000,178.0,8727,25,1.0,NaN
155647,97278306,6,3,2017-10-31 12:33:02.957000,156.0,8727,25,1.0,NaN
155648,97278306,23,1,2017-10-31 12:32:39.907000,23.0,8727,25,1.0,NaN
156181,97340779,6,3,2017-10-31 15:06:48.093000,84.0,8727,25,1.0,NaN
156182,97340779,23,1,2017-10-31 15:05:57.770000,51.0,8727,25,1.0,NaN
156453,97366654,18,23,2017-10-31 16:02:01.830000,793.0,8727,25,1.0,NaN
156455,97366654,23,1,2017-10-31 15:55:23.283000,398.0,8727,25,1.0,NaN
156457,97366654,6,22,2017-10-31 16:02:01.830000,0.0,8727,25,1.0,NaN
156489,97369793,6,3,2017-10-31 16:02:44.260000,481.0,8727,25,1.0,NaN
156493,97369793,23,1,2017-10-31 16:02:30.873000,14.0,8727,25,1.0,NaN
156545,97374769,23,1,2017-10-31 16:16:00.227000,364.0,8727,25,1.0,NaN
156549,97374769,6,3,2017-10-31 16:22:04.510000,26.0,8727,25,1.0,NaN
156660,97381188,23,1,2017-10-31 16:35:37.850000,972.0,8727,25,1.0,NaN
156664,97381188,6,3,2017-10-31 16:51:49.943000,91.0,8727,25,1.0,NaN
156983,97394821,18,23,2017-10-31 17:42:25.833000,1059.0,8728,25,1.0,NaN
156985,97394821,23,1,2017-10-31 17:38:47.737000,16.0,8728,25,1.0,NaN
156986,97394821,6,22,2017-10-31 17:39:03.957000,202.0,8728,25,1.0,NaN
157002,97395671,23,1,2017-10-31 17:43:07.740000,17.0,8728,25,1.0,NaN
157004,97395671,6,24,2017-10-31 17:43:24.127000,49.0,8728,25,1.0,NaN

In [199]:
print(M5)

    arrival_hour  resolution  arrival_month   count
0            7.0           0              8     9.0
3            8.0           0              8    13.0
6            9.0           0              8  1515.0
12          10.0           0              8  1533.0
18          11.0           0              8  1428.0
25          12.0           0              8  1534.0
31          13.0           0              8  1563.0
37          14.0           0              8  1672.0
43          15.0           0              8  1634.0
50          16.0           0              8  1332.0
56          17.0           0              8  1110.0
63          18.0           0              8    17.0

In [ ]:
T1

In [ ]:
time_arrival=np.array(np.array(T3[T3["process_id"]==97094556]["arrival_dt"]),dtype='datetime64')
time_last=np.array(np.array(T3[T3["process_id"]==97094556]["last_update_dt"]),dtype='datetime64')
time_total=(1e-6)*np.array(time_last-time_arrival,dtype='float64')

In [57]:
T7=pd.read_csv('~/DATATON/datos/dt_service.csv',encoding="latin1")
#print(T7["servicename"].groupby(T7["servicename"]).count())
#print(T7["profilename"].groupby(T7["profilename"]).count())
#print(T7["servicetypename"].groupby(T7["servicetypename"]).count())
#print(T7["attributename"].groupby(T7["attributename"]).count())
#print(T7["servicename"][7])
T7c=T7.copy()
T7c["servicename"].replace(["Asesoria Basica","Asesoria General",
                            "Asesoria Preferencial","Asesoria Prioritaria",
                            "Asesoria Pyme","Asesoria Virtual"],
                           ["Asesoría Básica","Asesoría General",
                            "Asesoría Preferencial","Asesoría Prioritaria",
                            "Asesoría Pyme","Asesoría Virtual"],inplace=True)
T7c["profilename"].replace(["Asesoria Basica","Asesoria General",
                                "Asesoria Empresarial","Asesoria Preferencial BQT"
                                "Asesoria Prioritaria BQT","Asesoria Pyme BQT"  ],
                               ["Asesoría Básica","Asesoría General",
                                "Asesoría Empresarial","Asesoría Preferencial BQT"
                                "Asesoría Prioritaria BQT","Asesoría Pyme BQT"  ],inplace=True)
T7c["attributename"].replace(["Asesoria Basica","Asesoria General","Asesoria Preferencial",
                              "Asesoria Prioritaria","Asesoria Pyme","Asesoria Virtual"],
                             ["Asesoría Básica","Asesoría General","Asesoría Preferencial",
                              "Asesoría Prioritaria","Asesoría Pyme","Asesoría Virtual"],inplace=True)
#print(T7c["servicename"][7])
print(T7c["servicename"].groupby(T7c["servicename"]).count())
print(T7c["profilename"].groupby(T7c["profilename"]).count())
print(T7c["servicetypename"].groupby(T7c["servicetypename"]).count())
print(T7c["attributename"].groupby(T7c["attributename"]).count())
T7c.to_csv('~/DATATON/datos/dt_service-clean.csv', sep=',', index=False,encoding='utf-8')

servicename
ATM                      56
Asesoría Básica          56
Asesoría Empresarial      1
Asesoría General         56
Asesoría Preferencial    56
Asesoría Prioritaria     56
Asesoría Pyme            56
Asesoría Virtual         54
Auxiliar Corporativo      1
Bancolombia a un clic    56
Buzón                     2
Buzón Entrega             2
CB Robusto               56
Caja Básica              56
Caja Divisas             56
Caja Empresarial         56
Caja General             56
Caja Preferencial        56
Caja Prioritaria         56
Caja Virtual             56
Clientes Gerenciados     15
Corresponsal Bancario     2
Impto. Aduanero           1
PAC                      56
Punto Interactivo         1
Sucursal Telefónica      56
Sucursal Virtual         56
Name: servicename, dtype: int64
profilename
Asesoria Preferencial BQT     56
Asesoria Prioritaria BQT      56
Asesoria Virtual              54
Asesoría Básica               56
Asesoría Empresarial           1
Asesoría General              56
Asesoría Pyme BQT             56
Buzón Entrega                  2
Caja Básica                   56
Caja Divisas BQT              56
Caja Empresarial BQT          56
Caja General                  56
Caja Preferencial BQT         56
Caja Prioritaria BQT          56
Caja Virtual                  56
Clientes Gerenciados          15
Corresponsal Bancario          2
Servicios Autogestión        339
Servicios Especiales           2
Name: profilename, dtype: int64
servicetypename
ASESORÍA                352
CAJA                    394
CANALES ALTERNATIVOS    341
Name: servicetypename, dtype: int64
attributename
Asesoría Básica           56
Asesoría General          56
Asesoría Preferencial     56
Asesoría Prioritaria      56
Asesoría Pyme             56
Asesoría Virtual          54
Autogestión              339
Buzón Entrega              2
Caja Básica               56
Caja Divisas              56
Caja Empresarial          56
Caja General              56
Caja Preferencial         56
Caja Prioritaria          56
Caja Virtual              56
Clientes Gerenciados      16
Corresponsal Bancario      2
ServicioEspecial           2
Name: attributename, dtype: int64

In [65]:
T7c.groupby(['servicename'], as_index=False).mean()['servicename']

0                       ATM
1           Asesoría Básica
2      Asesoría Empresarial
3          Asesoría General
4     Asesoría Preferencial
5      Asesoría Prioritaria
6             Asesoría Pyme
7          Asesoría Virtual
8      Auxiliar Corporativo
9     Bancolombia a un clic
10                    Buzón
11            Buzón Entrega
12               CB Robusto
13              Caja Básica
14             Caja Divisas
15         Caja Empresarial
16             Caja General
17        Caja Preferencial
18         Caja Prioritaria
19             Caja Virtual
20     Clientes Gerenciados
21    Corresponsal Bancario
22          Impto. Aduanero
23                      PAC
24        Punto Interactivo
25      Sucursal Telefónica
26         Sucursal Virtual
Name: servicename, dtype: object

In [31]:
T7["servicename"][7]="Asesoría Básica"

0            Asesoría General
1        Asesoría Prioritaria
2               Asesoría Pyme
3                Caja Divisas
4                Caja General
5            Caja Prioritaria
6            Caja Empresarial
7             Asesoría Básica
8           Caja Preferencial
9       Corresponsal Bancario
10                Caja Básica
11      Asesoría Preferencial
12        Sucursal Telefónica
13                        PAC
14                      Buzón
15                        ATM
16              Buzón Entrega
17           Sucursal Virtual
18                 CB Robusto
19      Bancolombia a un clic
20          Punto Interactivo
21           Asesoría General
22            Asesoría Básica
23       Asesoría Prioritaria
24      Asesoría Preferencial
25               Caja General
26                Caja Básica
27               Caja Divisas
28           Caja Prioritaria
29          Caja Preferencial
                ...
1057            Asesoría Pyme
1058                      ATM
1059    Bancolombia a un clic
1060              Caja Básica
1061             Caja Divisas
1062         Caja Empresarial
1063             Caja General
1064        Caja Preferencial
1065         Caja Prioritaria
1066               CB Robusto
1067                      PAC
1068      Sucursal Telefónica
1069         Sucursal Virtual
1070          Asesoría Básica
1071         Asesoría General
1072    Asesoría Preferencial
1073     Asesoría Prioritaria
1074            Asesoría Pyme
1075                      ATM
1076    Bancolombia a un clic
1077              Caja Básica
1078             Caja Divisas
1079         Caja Empresarial
1080             Caja General
1081        Caja Preferencial
1082         Caja Prioritaria
1083               CB Robusto
1084                      PAC
1085      Sucursal Telefónica
1086         Sucursal Virtual
Name: servicename, Length: 1087, dtype: object